<!--Carousel Wrapper-->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index">BobbyGalery</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" style="height:300px" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="https://i.ytimg.com/vi/cKedc8trR2Y/maxresdefault.jpg"
                    alt="First slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">This is the first title</h3>
                <p>First text</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="https://rccl-h.assetsadobe.com/is/image/content/dam/royal/data/ports/ibiza-spain/overview/ibiza-spain-es-vedra-island.jpg?$1024x470$"
                    alt="Second slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">ibiza</h3>
                <p>Secondary text</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="https://balkanfun.travel/sites/default/files/styles/putovanje_velika_845x450/public/navagio-plaza-zakintos_1.jpg?itok=rxrWiT43"
                    alt="Third slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">This is the third title</h3>
                <p>Third text</p>
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<div class="jumbotron">
    <h1 class="display-3">Dobrodosli na BobbyGalery!</h1>
    <p class="lead">O nama</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste debitis animi assumenda libero ipsam eveniet optio, placeat quis aut quod deleniti alias suscipit reiciendis dolorem iusto at a voluptate nihil?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus minus consequuntur voluptate optio explicabo, fugiat, inventore ut sequi nostrum odit totam numquam earum repellendus nihil error eum id aliquid in.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga libero officiis modi corrupti et voluptatum facere accusantium similique ratione? Ipsam inventore sint dolorum dolores? Magnam quae nesciunt voluptas sint cumque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis consequatur necessitatibus, dolores nihil corrupti dolorem eius debitis perferendis natus tempore. Animi, similique soluta sunt facilis necessitatibus adipisci eaque natus ratione.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ratione fuga ducimus praesentium doloribus totam exercitationem eos magnam error pariatur facere perferendis, at recusandae a alias similique assumenda dolorem officia.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae minima dolore, ullam voluptas aliquam ratione sed dignissimos, et voluptatem placeat omnis blanditiis voluptatum. Facere obcaecati odit cumque blanditiis illum omnis?

    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/contact" role="button">Kontaktirajte nas!</a>
    </p>
</div>